$primary-color: #8B4513
$secondary-color: #228B22
$tertiary-color: #DAA520
$quaternary-color: #DC8F2D

$primary-font-color: #8B4513
$secondary-font-color: #DAA520
$quinary-font-color: #BDBDBD

$primary-color-button: #8B4513
$secondary-color-button: #228B22
$tertiary-color-button: #DAA520
$quaternary-color-button: #DC8F2D
